body, html{
    height: 100%;
}

.bg-image {
    background-image: url("bg.png");
    filter: blur(6px);
    -webkit-filter: blur(6px);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.menu{
    
    background-color: rgba(255, 255, 255, 0.564); 
    color: deeppink;
    font-weight: bold;
    border: 3px solid #00c8ff;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 40%;
    padding: 20px;
    text-align: center;
}